doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title Frontend workflow
  body

    header.header
      
    main.main

    footer.footer
